<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/styles.min.css" rel="stylesheet">
</head>

<body>

<header class="container header">
    {% block header %}
    {% endblock %}
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    {% block svg %}
        <symbol id="back" viewbox="0 0 19 16" fill="none" width="19" height="16">
            <path d="m17.34 6.19.028.006H5.074L8.94 2.322c.19-.189.293-.445.293-.714 0-.269-.104-.523-.293-.713L8.338.294A.997.997 0 0 0 7.628 0a.997.997 0 0 0-.71.293L.293 6.917A.995.995 0 0 0 0 7.63c0 .27.103.524.293.713l6.625 6.625c.189.189.441.293.71.293.269 0 .52-.104.71-.293l.601-.602a.995.995 0 0 0 .293-.71.965.965 0 0 0-.293-.696L5.031 9.064h12.322c.554 0 1.02-.477 1.02-1.03v-.851c0-.554-.48-.994-1.033-.994Z"
                  fill="#000"/>
        </symbol>
    {% endblock %}
</svg>

</body>

</html>